html, body, #wrapper {
	width: 100%;
	overflow: hidden;
}

body {
	font-family: "Segoe UI";
	margin: 0;
	padding: 0;
}

.hidden {
	display: none !important;
}

#wrapper {
	padding-bottom: 8pt;
}

#header {
	display: inline-block;
	width: 100%;
}

#header .logo-wrapper {
	height: 40pt;
	line-height: 38pt;

	background: #fff;
}

#header .logo {
	vertical-align: middle;
	width: 24pt;
	margin-left: 10pt;
}

#header .title {
	font-size: 16pt;
	font-family: Segoe UI;
	margin-left: 5pt;
	display: inline-block;
	vertical-align: middle;
	color: #000;
}

#mainSection {
	width: 100%;
	display: inline-block;
}

#mainSection .content {
	margin-top: 15pt;
}

#mainSection .title {
	text-align: center;
	font-size: 20pt;
}
#mainSection .input {
	width: 80%;
	font-size: 10pt;
	padding: 3pt;
}

#mainSection .fields  {
	margin-top: 15pt;
	text-align: center;
}

#mainSection .field  {
	width: 100%;
	margin-top: 10pt;
}
#mainSection .field:first-child  {
	margin-top: 0pt;
}

#controls {
	height: 40pt;
	width: 100%;

	line-height: 38pt;
	position: relative;

	background: #f3f3f3;
	padding-left: 10pt;
}

.control-button {
	width: 20pt;
	height: 20pt;

	color: #AAABAD;
	font-size: 14pt;
	text-align: center;

	border-radius: 3pt;
	border: 1pt solid #ccc;
	background: #fff;

	display: inline-block;
	vertical-align: middle;
}
.back-to-prev {
	font-size: 6pt;
}

.search {
	display: inline-block;
	height: 100%;

	color: #eee;
	float: right;
	margin-right: 20pt;
}

#search {
	vertical-align: middle;

	border: 1pt solid silver;
	font-size: 13pt;
	width: 110pt;
	padding: 2pt 4pt 2pt 4pt;
}
#search:focus {
	outline: none;
	border-color: silver;
}

#loginPage .field:focus {
    outline: none;
    border-color: silver;

	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

#addNew {
	text-align: center;
}

#addNew .add-new-button {
	width: 115pt;
	height: 25pt;

	border: none;
	border-radius: 6pt;
	background: #e24429;
	box-shadow: none;
	text-align: center;
	font-size: 15pt;
	font-weight: 600;
	color: #fff;
	margin-top: 30pt;
	transition: background-color 120ms linear;
	border-bottom: 1pt solid rgb(199, 138, 138);
}



.username {
	font-size: 10pt;
	color: rgb(153,153,153);
}
.icon {
	width: 32pt;
	height: 32pt;

	background: blue;
	margin-right: 15pt;
}
.url {
	font-size: 12pt;
	font-weight: 600;
	color: rgb(94,94,94);
}


#accountsPage {
	width: 90%;
	margin: auto;
}
#accountsPage .title {
	padding-bottom: 10pt;
	border-bottom: 2pt solid #f2f2f2;
}

#accountsPage .account {
	width: 100%;
	padding: 5pt 0 5pt 0;

	border-bottom: 1pt solid #f2f2f2;

	float: left;
}
#accountsPage .account:hover {
	background: #eee;
}

#accountsPage .url {

}
#accountsPage .icon {
	float: left;
}
#accountsPage .username {
	margin-top: 3px;
}

#accountPreviewPage .account-wrapper {
	padding-left: 15pt;
	padding-top: 10pt;
}

#accountPreviewPage .icon {
	
}

.url-username-wrapper {
	margin-top: 10pt;
	display: inline-block;
}

#accountPreviewPage .url {
	font-size: 14pt;
}
#accountPreviewPage .username {
	font-size: 12pt;
}
#accountPreviewPage .go-to-site {
	float: right;
	margin: 15pt 15pt 0 0;
	font-size: 6pt;
}